# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Xcode
*.xcuserdata
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.moved-aside
*.xccheckout
*.xcscmblueprint
build/

# Swift Package Manager
.build/
.swiftpm/

# Instruments
*.trace

# Code coverage
*.gcno
*.gcda
